
@{
    ViewBag.Title = "DangKyThiDua";
}
<style>
    @*.col-md-12 {
        width: 1028px;
    }*@
</style>
<br />
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Nghiệp vụ</a></li>
        <li class="breadcrumb-item active">Đăng ký thi đua</li>
    </ol>
    @*<div>
            ID là : @(ViewContext.RouteData.Values["id"])
        </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">ĐĂNG KÝ THI ĐUA</h4>
                    <input type="hidden" id="idThiDua" value="@(ViewContext.RouteData.Values["id"])" />
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group">
                                <input type="text" class="form-control col-md-6" id="searchTree" placeholder="Tìm kiếm..." />
                            </div>
                            <br />
                            <div id="tree_donvi"></div>
                        </div>
                        <div class="col-xl-9">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mb-4">Danh sách các đơn vị đã đăng ký</h4>
                                    <table id="table_dangkythidua" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%; ">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap" width="1%">STT</th>
                                                <th class="text-nowrap" width="40%">Đơn vị đăng ký</th>
                                                <th class="text-nowrap">Ngày đăng ký</th>
                                                <th class="text-nowrap">File báo cáo</th>
                                                <th class="text-nowrap" width="10%">Thao tác</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xl-10">
                            @*<button class="btn btn-primary" id="btnLuuHoSoKyYeu"><i class="fa fa-save"></i> Cập nhật vào hồ sơ kỷ yếu</button>*@
                            <a class="btn btn-info" href="@Url.Action("Index", "ThiDua")"><i class="fa fa-arrow-left"></i> Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlChiTietDangKy" data-modal-index="2">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Đơn vị đăng ký</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form enctype="multipart/form-data" method="post" id="frmDangKyThiDua">
                        <div class="col-md-12">
                            <div class="row form-horizontal">
                                <input type="hidden" id="idDangKyThiDua" />
                                <input type="hidden" id="idThiDuaDk" />
                                <input type="hidden" id="idDonViDangKy" />
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="dtNgayDangKy">Ngày đăng ký:</label>
                                        <div class="col-md-4">
                                            <div id="dateNgayDangKy" class="input-group date" data-date-format="dd/mm/yyyy"> <input id="dtNgayDangKy" placeholder="dd/mm/yyyy..." class="form-control" type="text"> <span class="input-group-addon"><i class="fa fa-lg fa-calendar"></i></span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="taNoiDungDangKy">Nội dung đăng ký:</label>
                                        <div class="col-md-10">
                                            <textarea id="taNoiDungDangKy" rows="20">

                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">File đính kèm:</label>
                                        <div class="col-md-10">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-append">
                                                    <span class="btn btn-outline btn-primary btn-file">
                                                        <span class="fileinput-new"><i class="fa fa-upload"></i>&nbsp;Chọn file đính kèm</span>
                                                        <span class="fileinput-exists"><i class="fa fa-plus"></i>&nbsp;Thay đổi</span><input type="file" id="fileDinhKem" />
                                                    </span>
                                                    <span class="fileinput-filename"></span>
                                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                                </div>
                                            </div>
                                            <span id="linkFileDinhKem"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="cbxXepHangThiDua">Xếp hạng thi đua:</label>
                                        <div class="col-md-10">
                                            <select id="cbxXepHangThiDua" class="form-control">
                                                <option value="0">Chưa xếp hạng</option>
                                                <option value="1">Giỏi</option>
                                                <option value="2">Khá</option>
                                                <option value="3">Trung bình</option>
                                                <option value="4">Yếu</option>
                                                <option value="5">Kém</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="cbxTrangThaiThiDua">Trạng thái thi đua:</label>
                                        <div class="col-md-4">
                                            <select id="cbxTrangThaiThiDua" class="form-control">
                                                <option value="0">Chưa xếp hạng</option>
                                                <option value="1">Đạt</option>
                                                <option value="2">Không đạt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="taNhanXetChung">Nhận xét chung:</label>
                                        <div class="col-md-10">
                                            <textarea id="taNhanXetChung" rows="20">

                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="taNguoiKyDanhGia">Người ký đánh giá:</label>
                                        <div class="col-md-10">
                                            <textarea id="taNguoiKyDanhGia">

                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label" for="taNoiDungDanhGia">Nội dung đánh giá:</label>
                                        <div class="col-md-10">
                                            <textarea id="taNoiDungDanhGia">

                                        </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Cá nhân đăng ký:</label>
                                </div>
                                <div class="col-md-10">
                                    <table class="table table-bordered table-striped dt-responsive nowrap" id="tblCaNhanDangKy" style="border-collapse: collapse; border-spacing: 0; width: 100%; display: none;">
                                        <thead>
                                            <tr>
                                                <th class="text-nowrap" width="5%"><input type="checkbox" id="checkAllDk" style="margin-left: 20px;" /></th>
                                                <th class="text-nowrap" width="20%">Họ và tên</th>
                                                <th class="text-nowrap" width="20%">Đơn Vị</th>
                                                <th class="text-nowrap">Nội dung đăng ký</th>
                                                <th class="text-nowrap">Xếp hạng thi đua</th>
                                                <th class="text-nowrap" width="20%">Nhận xét</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyCaNhanDangKy">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnCapNhatDonViDangKy"></button>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-window-close"></i> Đóng lại</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        activeMenu("liNghiepVu", "liThiDua");
        $.noConflict();
        loadMainTree();
        loadDanhSachChiTietThiDua();
        console.log("@Request.Url.ToString()");
        $("#dateNgayDangKy").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());
        CKEDITOR.replace("taNoiDungDangKy", { height: 100 });
        CKEDITOR.replace("taNhanXetChung", { height: 100 });
        CKEDITOR.replace("taNguoiKyDanhGia", { height: 100 });
        CKEDITOR.replace("taNoiDungDanhGia", { height: 100 });
    });
    //Xử lý nút check all
    $("#checkAllDk").change(function () {
        $(".checkitem").prop("checked", $(this).prop("checked"))
    })
    //Load main tree
    function loadMainTree() {
        //$('#tree_donvi').jstree("destroy");
        $('#tree_donvi').jstree({
            "plugins": ["search"],
            "checkbox": {
                "three_state": true,
                "keep_selected_style": false
            },
            'core': {
                'data': {
                    "themes": {
                        "responsive": true
                    },
                    "url": "/ThiDua/LoadTreeDonVi",
                    "dataType": "json"
                }
            }
        }).on("select_node.jstree", function (e, data) {
            @* $("#iddonvikt").val(data.node.id);
            loadData(data.node.id);*@
            processChiTietThiDua($("#idThiDua").val(), data.node.id);
        });
        $('#tree_donvi').jstree(true).search($('#searchTree').val());
        var to = null;
        $('#searchTree').keyup(function () {
            if (to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#searchTree').val();
                $('#tree_donvi').jstree(true).search(v);
            }, 250);
        });
    }

    function loadDanhSachChiTietThiDua() {
        var idThiDua = $("#idThiDua").val();
        $("#table_dangkythidua").DataTable({
            "ajax": {
                "url": "/ThiDua/getDanhSachDonViDaDK",
                "data": { idThiDua: idThiDua },
                "type": "GET",
                "datatype": "json",
                "contentType": "application/json;charset=UTF-8"
            },
            "columns": [
                { "data": "stt" },
                { "data": "tenDonViDaDangKy" },
                {
                    "data": "ngayDangKy"
                },
                {
                    "data": "fileDinhKem", "render": function (data) {
                        $('[data-toggle="tooltip"]').tooltip();
                        if (data != "") {
                            var objFile = JSON.parse(data);
                            var html = "<ul class='list-group'>";
                            $.each(objFile, function (key, item) {
                                var spl = item.Key.split(/\\/);
                                html += '<li class="list-group-item"><a href="#" style="color: #2196f3;" data-toggle="tooltip" data-placement="top" title="Download" onclick="downloadfile(\'' + spl + '\', \'' + spl[spl.length - 1] + '\', \'' + item.Value + '\')">' + spl[spl.length - 1] + '</a></li>';
                            });
                            html += "</ul>";
                            return html;
                        }
                        else {
                            return "";
                        }
                    }
                },
                {
                    "data": "idDonVi", "render": function (data) {
                        $('[data-toggle="tooltip"]').tooltip();
                        return "<a class='fa fa-lg fa-edit colorEdit' href='#' data-toggle='tooltip' data-placement='top' title='Xem và cập nhật' onclick='return processChiTietThiDua(" + idThiDua + "," + data + ")'></a>&nbsp;&nbsp;&nbsp;<a class='fa fa-lg fa-trash' href='#' data-toggle='tooltip' data-placement='top' title='Xóa đăng ký' onclick='return deleteDangKyThiDua(" + idThiDua + "," + data + ")'></a>";
                    }
                },
            ],
            destroy: true,
            ordering: false,
            paging: false,
            searching: true,
            bInfo: false,
            deferRender: true
        });
    }

    function processChiTietThiDua(idThiDua, idDonVi) {
        $("#mdlChiTietDangKy").modal('show');
        $("#idThiDuaDk").val(idThiDua);
        $("#idDonViDangKy").val(idDonVi);
        $("#checkAllDk").prop("checked", false);
        var html = '';
        $("#tblCaNhanDangKy").css('display', 'block');
        $.get('/ThiDua/GetDanhSachCaNhanDangKy', { idThiDua: idThiDua, idDonVi: idDonVi }, function (data) {
            if (data.data.id == 0) {
                $("#idDangKyThiDua").val("0");
                //$("#dtNgayDangKy").val("");
                CKEDITOR.instances['taNoiDungDangKy'].setData("");
                CKEDITOR.instances['taNhanXetChung'].setData("");
                CKEDITOR.instances['taNguoiKyDanhGia'].setData("");
                CKEDITOR.instances['taNoiDungDanhGia'].setData("");
                $("#linkFileDinhKem").html("");
                $("#cbxXepHangThiDua").val(0);
                $("#cbxTrangThaiThiDua").val(0);
                $("#btnCapNhatDonViDangKy").html("<i class='fa fa-lg fa-plus'></i> Đăng ký thi đua");
            }
            else {
                console.log(data.data);
                if (data.data.fileDinhKem != "") {
                    console.log(data.data.fileDinhKem);
                    var objFile = JSON.parse(data.data.fileDinhKem);
                    var spl = objFile[0].Key.split(/\\/);
                    $("#linkFileDinhKem").html("<a href='#' onclick='downloadfile(\"" + spl + "\", \"" + spl[spl.length - 1] + "\", \"" + objFile[0].Value + "\")'><i class='fa fa-download'></i> Tải file đính kèm</a>");
                }
                $("#idDangKyThiDua").val(data.data.id);
                $("#dtNgayDangKy").val(convertDate(data.data.ngayDangKy));
                CKEDITOR.instances['taNoiDungDangKy'].setData(data.data.noiDungDangKy);
                CKEDITOR.instances['taNhanXetChung'].setData(data.data.nhanXetChung);
                CKEDITOR.instances['taNguoiKyDanhGia'].setData(data.data.nguoiKyDanhGia);
                CKEDITOR.instances['taNoiDungDanhGia'].setData(data.data.noiDungDanhGia);
                $("#cbxXepHangThiDua").val(data.data.xepHangThiDua);
                $("#cbxTrangThaiThiDua").val(data.data.trangThaiThiDua);
                $("#btnCapNhatDonViDangKy").html("<i class='fa fa-lg fa-edit'></i> Cập nhật thi đua");
            }
            console.log(data.data.listCaNhanDangKy);
            if (data.data.listCaNhanDangKy.length > 0) {
                $.each(data.data.listCaNhanDangKy, function (key, item) {
                    html += '<tr><td><input type="checkbox" style="margin-left: 20px; margin-top:20px;" class="checkitem" value="' + item.idNhanVien + '" ' + getIsDangKy(item.isDangKy) + ' /></td><td>' + item.tenNhanVien + '</td><td>' + item.tenDonVi + '</td><td><input type="textarea" class="form-control" id="taCaNhanDangKy' + item.idNhanVien + '" value="' + item.noiDungDangKy + '" style="height: 70px;" /></td><td><select id="cbxXepHang' + item.idNhanVien + '" class="form-control"><option value="0" ' + getSelected(item.xepHang) + '>Chưa xếp hạng</option><option value="1" ' + getSelected(item.xepHang, 1) + '>Giỏi</option><option value="2" ' + getSelected(item.xepHang, 2) + '>Khá</option><option value="3" ' + getSelected(item.xepHang, 3) + '>Trung bình</option><option value="4" ' + getSelected(item.xepHang, 4) + '>Yếu</option><option value="5" ' + getSelected(item.xepHang, 5) + '>Kém</option></select></td><td><input type="textarea" class="form-control" id="taNhanXetCaNhan' + item.idNhanVien + '" value="' + item.nhanXet + '" style="height: 70px;" /></td></tr>';
                    //console.log(item.tenNhanVien);
                });
            }
            $('#bodyCaNhanDangKy').html(html);
        })
        @* $("#cbCaNhanDangKy").change(function () {
            var html = '';
            if (this.checked) {
                console.log("value: " + this.value);
                $("#tblCaNhanDangKy").css('display', 'block');
                console.log("1211111111111111:" + idDonVi);
                $.get('/ThiDua/GetDanhSachCaNhanDangKy', { idThiDua: idThiDua, idDonVi: idDonVi }, function (data) {
                    console.log(data.data);
                    if (data.data.length > 0) {
                        $.each(data.data, function (key, item) {
                            html += '<tr><td>' + item.tenNhanVien + '</td><td>' + item.noiDungDangKy + '</td><td><select id="cbxXepHang" class="form-control"><option value="0" ' + getSelected(item.xepHang) + '>Chưa xếp hạng</option><option value="1" ' + getSelected(item.xepHang, 1) + '>Giỏi</option><option value="2" ' + getSelected(item.xepHang, 2) + '>Khá</option><option value="3" ' + getSelected(item.xepHang, 3) + '>Trung bình</option><option value="4" ' + getSelected(item.xepHang, 4) + '>Yếu</option><option value="5" ' + getSelected(item.xepHang, 5) + '>Kém</option></select></td><td>' + item.nhanXet + '</td></tr>';
                            //console.log(item.tenNhanVien);
                        });
                    }
                    $('#bodyCaNhanDangKy').html(html);
                })
            }
            else {
                $('#bodyCaNhanDangKy').html('');
                $("#tblCaNhanDangKy").css('display', 'none');
            }
        });*@
    }
    @*$(document).keypress(function (e) {
        if (e.which == 13 || event.keyCode == 13) {
            $("#btnCapNhatDonViDangKy").click();
        }
    });*@
    $("#btnCapNhatDonViDangKy").click(function () {
        @* console.log(CKEDITOR.instances['taNhanXetChung'].getData());
        CKEDITOR.instances['taNhanXetChung'].setData("<p>hahahahhahahah</p>");*@
        @*var isValid = validateCapNhatDangKy();

        if (isValid) {
            console.log("trsst");
        }*@

        var lsIdCaNhanDangKy = $('.checkitem:checked').map(function () {
            return $(this).val()
        }).get().join(';')

        console.log(lsIdCaNhanDangKy);

        var lsCaNhanDangKy = "", lsXepHang = "", lsNhanXet = "";

        var a = lsIdCaNhanDangKy.split(';');
        if (a.length > 0) {
            for (var i = 0; i < a.length; i++) {
                lsCaNhanDangKy += $("#taCaNhanDangKy" + a[i]).val();
                lsXepHang += $("#cbxXepHang" + a[i]).val();
                lsNhanXet += $("#taNhanXetCaNhan" + a[i]).val();
                if (i < a.length - 1) {
                    lsCaNhanDangKy += ";";
                    lsXepHang += ";";
                    lsNhanXet += ";";
                }
            }
        }

        @*var exist = [];
        var id_all = $('.checkitem').map(function () {
            return $(this).val()
        }).get().join(' ')
        var id_nguoidung = $('.checkitem:checked').map(function () {
            return $(this).val()
        }).get().join(' ')
        var a = id_all.split(' ');
        var b = id_nguoidung.split(' ');
        for (var i = 0; i < a.length; i++) {
            for (var j = 0; j < b.length; j++) {
                if (b[j] == a[i]) {
                    exist.push(i);
                    break;
                }
            }
        }
        console.log(exist);*@

        var fileUpload = $("#fileDinhKem").get(0);
        var files = fileUpload.files;
        var fileData = new FormData();

        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        fileData.append('id', $("#idDangKyThiDua").val());
        fileData.append('thiDuaId', $("#idThiDuaDk").val());
        fileData.append('noiDungDangKy', CKEDITOR.instances['taNoiDungDangKy'].getData());
        fileData.append('donViDangKyId', $("#idDonViDangKy").val());
        fileData.append('ngayDangKy', $("#dtNgayDangKy").val());
        fileData.append('xepHangThiDua', $("#cbxXepHangThiDua").val());
        fileData.append('trangThaiThiDua', $("#cbxTrangThaiThiDua").val());
        fileData.append('chiTieuThiDua', $("#txtChiTieuThiDua").val());
        fileData.append('nhanXetChung', CKEDITOR.instances['taNhanXetChung'].getData());
        fileData.append('nguoiKyDanhGia', CKEDITOR.instances['taNguoiKyDanhGia'].getData());
        fileData.append('noiDungDanhGia', CKEDITOR.instances['taNoiDungDanhGia'].getData());
        fileData.append('lsIdCaNhanDangKy', lsIdCaNhanDangKy);
        fileData.append('lsCaNhanDangKy', lsCaNhanDangKy);
        fileData.append('lsXepHang', lsXepHang);
        fileData.append('lsNhanXet', lsNhanXet);
        $.ajax({
            url: "/ThiDua/CapNhatDangKyThiDua",
            data: fileData,
            type: "POST",
            contentType: false,
            processData: false,
            enctype: 'multipart/form-data',
            success: function (data) {
                //showToast("success", data, "Thông báo");
                if (data == 0) {
                    showToast("success", "Đăng ký thi đua thành công!", "Thông báo")
                    $("#mdlChiTietDangKy").modal('hide');
                    loadDanhSachChiTietThiDua();
                }
                else if (data == -1) {
                    showToast("error", "Lỗi khi upload file đính kèm!", "Thông báo lỗi")
                }
                else if (data == 2) {
                    showToast("success", "Cập nhật đăng ký thi đua thành công!", "Thông báo")
                    $("#mdlChiTietDangKy").modal('hide');
                    loadDanhSachChiTietThiDua();
                }
            },
            error: function (errormessage) {
                showToast("error", errormessage.responseText, "Thông báo lỗi");
            }
        });

    });

    function deleteDangKyThiDua(idThiDua, idDonVi) {
        var ans = confirm("Bạn chắc chắn muốn xóa bản ghi?");
        if (ans) {
            var ans2 = confirm("Lưu ý: nếu bạn xóa đăng ký thi đua này, tất cả báo cáo, hồ sơ thi đua cũng sẽ bị xóa, bạn vẫn chắc chắn?");
            if (ans2) {
                $.post("/ThiDua/DeleteDonViDangKy", { idThiDua: idThiDua, idDonVi: idDonVi }, function (data) {
                    if (data) {
                        showToast("success", "Xóa đơn vị đăng ký thành công!", "Thông báo");
                        loadDanhSachChiTietThiDua();
                    }
                }).fail(function (error) {
                    showToast("error", "error.responseText", "Thông báo lỗi");
                })
            }
        }
    }

    function getSelected(xepHang, stt) {
        if (xepHang == stt)
            return "selected";
    }

    function getIsDangKy(stt) {
        if (stt) {
            return "checked"
        }
        else {
            return "";
        }
    }
</script>

